@import "~config/styles"

.component.brief
  .title
    margin-bottom 30px

    sup
      top 8px
      left 4px

  .content
    p
      margin-bottom 20px

      a
        color $text
        font-weight 700
        text-decoration none

    b
      font-weight 700

      &.r9-red
        color $r9-red

      &.longchamp
        color $longchamp-mineshaft
