@import "~config/styles"

.component.footer
  position relative
  width 100%
  padding 100px 0
  background-color #dcdbdb

  .title
    margin-bottom 30px

    sup
      top 8px
      left 4px

  .team
    > li
      font-weight 400

    b
      font-weight 700
      text-transform uppercase
