@import "~config/styles"

.component.text
  .content
    p
      margin-bottom 20px

      a
        color $text
        font-weight 700
        text-decoration none

    b
      font-weight 700

      &.r9-red
        color $r9-red

      &.longchamp
        color $longchamp-mineshaft
