@import "~config/styles"

.component.footer
  position relative
  width 100%
  padding 40px 0
  background-color #dcdbdb

  .title
    margin-bottom 28px

    sup
      top 8px
      left 4px

  .team

    li
      people()
      font-weight 400
      margin-bottom 4px

      &:nth-child(3n+1)
        clear left

    b
      font-weight 700
      text-transform uppercase
