@import "~config/styles"

.component.project-structure
  position absolute
  top 0
  left 0
  width 100vw
  height 100%
  overflow hidden

  > .container-fluid
    z-index 3
    position absolute
    height 100%
    width 100%
    overflow hidden
